<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SF6 Overlay</title>
    <link rel="stylesheet" href="/static/css/overlay-themes.css">
</head>
<body class="theme-{{ theme }} size-{{ size }} layout-{{ layout }}{{ ' no-anim' if not anim }}{{ ' pos-left' if pos == 'left' }}">
    {% block content %}{% endblock %}

    <script>
    var overlayMode = '{{ mode }}';
    var modeParam = overlayMode !== 'all' ? 'mode=' + overlayMode : '';
    {% block scripts %}{% endblock %}
    </script>
    <script src="/static/js/overlay-sse.js"></script>
</body>
</html>
